
<nav class="navbar navbar-expand-lg navbar-dark bg-warning sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">My Website</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="menu.html">เมนูอาหาร</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cart.html">
                        ตะกร้าสินค้า 
                        <span id="cart-count" class="badge bg-danger rounded-pill m">0</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ติดตามออเดอร์</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ติดต่อร้าน</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

