    <!-- Sidebar Container -->
    <div class="sidebar bg-warning" id="sidebar">
        <div class="logo bg-warning">
            <span class="icon bi bi-list" id="toggle-btn"></span>
        </div>
        <ul>
            <li><a href="/owner/dashboard" title="Dashboard" data-bs-toggle="tooltip" data-bs-placement="right">
                <i class="bi bi-house-door"></i> <span class="nav-text">Dashboard</span></a></li>
            <li><a href="/owner/manageCategory" title="จัดการเมนูอาหาร" data-bs-toggle="tooltip" data-bs-placement="right">
                <i class="bi bi-card-list"></i> <span class="nav-text">จัดการหมวดอาหาร</span></a></li>
            <li><a href="/owner/manageMenu" title="จัดการเมนูอาหาร" data-bs-toggle="tooltip" data-bs-placement="right">
                <i class="bi bi-card-list"></i> <span class="nav-text">จัดการเมนูอาหาร</span></a></li>
            <li><a href="/owner/manageStaff" title="จัดการพนักงาน" data-bs-toggle="tooltip" data-bs-placement="right">
                <i class="bi bi-person"></i> <span class="nav-text">จัดการพนักงาน</span></a></li>
            <li><a href="#" title="รายงานการขาย" data-bs-toggle="tooltip" data-bs-placement="right">
                <i class="bi bi-bar-chart"></i> <span class="nav-text">รายงานการขาย</span></a></li>
            <li><a href="#" title="การตั้งค่า" data-bs-toggle="tooltip" data-bs-placement="right">
                <i class="bi bi-gear"></i> <span class="nav-text">การตั้งค่า</span></a></li>
        </ul>
    </div>